{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>{% block title %}{% endblock %} | StaticShare</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
  <script src="{% static 'js/jquery.js' %}"></script>
</head>
<body>
  <section id="section-wrapper">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </section>
  <footer>
    <div class="container">
      <p>Powered by Static-Share</p>
    </div>
  </footer>
  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
