{% extends 'base.html' %}

{% block title %}Download {{ file.get_original_filename }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="thumbnail file">
        <img src="{{ file.get_type_image }}" />
        <div class="caption">
          <h3>{{ file.get_original_filename }}</h3>
          <h5>Created at: {{ file.created }}</h5>
        </div>
        {% if file.hotlink %}
          <a class="btn btn-primary btn-block btn-lg download-button" href="{% url 'files:file_download' file.short_id token.token %}">
            Download {{ file.get_original_filename }}
          </a>
          <p class="timer-message">This download link is only valid for <span class="timer" data-duration="{{ token.valid_time.seconds }}"></span>.</p>
        {% else %}
          <a class="btn btn-primary btn-block btn-lg download-button" href="{% url 'files:file_hot' file.short_id %}">
            Download {{ file.get_original_filename }}
          </a>
          <p>Hotlinking is enabled for this file.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
